@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Colors and styling */
:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

section {
  padding: 4rem 0 2rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
  align-self: center;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.btn {
  padding: 0.6rem 1.5rem;
  background: var(--gradientColor);
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn a {
  color: var(--whiteColor);
  font-weight: 500;
}

.btn:hover {
  background: var(--SecondaryColor);
}

img, video {
  width: 100%;
  height: auto;
}

body {
  background: var(--bodyColor);
}


/* LOGIN PAGE */
.message {
  display: none;
}

.showMessage {
  display: block;
  color: var(--whiteColor);
  padding: 10px;
  background: rgb(255,0,0);
  border-radius: 3px;
  text-align: center;
}

.showMessage {
  display: block;
  color: var(--whiteColor);
  background: rgb(255,0,0);
  border-radius: 3px;
  text-align: center;
}

.loginPage {
  padding-top: 100px;
  height: 100vh;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 7px 50px rgb(214, 223, 213);
}

.loginPage .container {
  height: 75vh;
  padding: 0 !important;
  width: 60%;
  margin: auto;
  justify-content: space-between;
  border-radius: 10px;
  background: var(--cardBG);
}

.loginPage .container .videoDiv {
  position: relative;
  display: flex;
  flex-basis: 50%;
  width: 70%;
  height: 100%;
  padding: 0 1.5rem;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}

.loginPage .container .videoDiv video, .footerDiv {
  position: absolute;
}

.loginPage .container .videoDiv video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
}
.loginPage .container .videoDiv .textDiv {
  position: relative;
}

.loginPage .container .videoDiv .textDiv .title {
  color: var(--whiteColor);
  font-size: 35px;
  font-weight: 800;
}

.loginPage .container .videoDiv .textDiv p {
  color: var(--whiteColor);
  padding: 1rem;
  font-weight: 400;
}

.loginPage .container .videoDiv .footerDiv {
  bottom: 10px;
  padding: 0 1rem;
  height: 60px;
  background: rgba(255, 255, 255, 0.248);
  left: 10px;
  right: 10px;
  justify-content: space-between;
  backdrop-filter: blur(1px);
  border-radius: 10px;
}

.loginPage .container .videoDiv .footerDiv .text {
  color: var(--whiteColor);
}

.loginPage .container .videoDiv .footerDiv .btn {
  background: var(--whiteColor);
  color: var(--PrimaryColor);
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  font-weight: 400;
  transition: 0.3s ease;
}

.loginPage .container .videoDiv .footerDiv .btn:hover {
  background-color: var(--SecondaryColor);
  color: var(--blackColor);
}

.loginPage .container .formDiv {
  flex-basis: 50%;
  margin: auto;
  flex-direction: column;
  gap: 1.5rem;
  transform: translateY(-1rem);
}

.loginPage .container .formDiv .form {
  gap: 1rem;
}

.loginPage .container .formDiv .form h3 {
  text-align: center;
}

.loginPage .container .formDiv .form .inputDiv .icon {
  color: var(--greyText);
}

.loginPage .container .formDiv .form .inputDiv input {
  background: none;
  outline: none;
  border: none;
  width: 200px;
}

.loginPage .container .formDiv .form .inputDiv label {
  color: var(--blackColor);
  font-weight: 400;
  font-size: 14px;
  padding: 0.5rem 0;
  display: block;
}

.loginPage .container .formDiv .form .inputDiv .input {
  gap: 0.5rem;
  padding: 1rem;
  background: var(--inputColor);
  border-radius: 10px;
}

.loginPage .container .formDiv .form .btn {
  padding: 0.8rem;
  background: var(--gradientColor);
  border-radius: 10px;
  color: var(--whiteColor);
  align-items: center;
  margin: auto;
  justify-content: center;
  font-size: 16px;
  width: 100%;
  gap: 0.5rem;
  transition: 0.3s ease;
}

.loginPage .container .formDiv .form .btn .icon {
  font-size: 25px;
  transition: 0.3s ease;
}

.loginPage .container .formDiv .form .btn:hover {
  background: var(--SecondaryColor);
  color: var(--blackColor);
}

.loginPage .container .formDiv .form .btn:hover .icon {
  color: var(--blackColor);
  transform: translateY(5px);
}

.loginPage .container .formDiv .form .forgotPassword {
  font-size: 11px;
  color: var(--blackColor);
  opacity: 0.7;
  text-align: center;
}

.loginPage .container .formDiv .form .forgotPassword a {
  text-decoration: underline;
  cursor: pointer;
  opacity: 0.7;
}

.error {
  color: red;
}